lastupdate.tmp
./evaluacion_crud
evaluacion_crud
ejec.sh
go.mod
go.sum
main
swagger/*.png
swagger/*.html
swagger/*.js
swagger/*.map
swagger/*.css
swagger/*.yml
swagger/css/
swagger/fonts/
swagger/images/
swagger/lang/
swagger/lib/
swagger/
.env